.mainInfoTxt {
    padding: 150px 100px 10px;
}

.listTxt {
    text-align: center;
    list-style-position: inside;
}

ol {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    counter-reset: num;
    margin: 0 30px 0 45px;
    padding: 0px 0 5px 0;
    font-size: 16px;
}

ol li {
    position: relative;
    padding: 0 0 10px 0;
    line-height: 2.5;
}

ol li:before {
    background: #F4694D;
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 0;
    margin: 4px -2px;
    left: -40px;
    width: 32px;
    height: 32px;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border-radius: 12px;
}

.image {
   position: relative;
    left: 0px;
    top: 110px;
    right: 100px;
    text-align: center;
}

.button {
    background: #F4694D;
    position: relative;
    border-style: solid;
    border-width: 0px;
    border-color: #F4694D;
    border-radius: 16px;
    padding: 0px 118px 2px;
}

.koyomochka {
    border: 3px solid;
    border-radius: 25px;
    padding: 12px 10px 12px 10px;
    font-size: 15px;
    text-align:center;
}

.arrowBtn {
    padding: 8px 0px 11px 0px;
    color: white;
    scale: 3;
}

.oval {
    width: 140px;
    height: 70px;
    flex-shrink: 0;
    fill: #F4694D;
}
header {
    position: relative;
}
.headerTitle {
    position: absolute;
    text-align: center;
    top: 17px;
    left: 20px;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    color: #000;
}

.mainButton {
    text-align: center;
}
.TextOfTheTop {
display: flex;
}
.QueueQuantity{
    position: relative;
    text-align: right;
    right:10px;
}
.UpperButtons {
    display: flex;
    padding: 10px;
}
.StandInQueueButton{

}
.margins{
    padding: 10px;
}
.QueueCreator{
    top:30px;
    font-size:13px;
}
.MoreDetailedTxt {
    font-size: 14px;
}
.AfterUpperButtonsTxt{
    font-size: 12px;
    color: #F4694D;
}
.StudentsInQueue {
    font-size: 14px;
    font-style: italic;
}
.StandInQueueButton {
    text-align: center;
}

.EditQueueFields {
    width:100%;
    padding:10px;
    colour:#868686;
    background:#FFF;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    border-radius: 20px;
    border:0;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
}
.InputFieldsName{
    position:relative;
    left:8px;
    font-size: 11px;
    colour:#868686;

}
.WarningTxt{
    position:relative;
    font-size: 10px;
    color: #F4694D;
    left:8px;
}
