.mainInfoTxt {
    padding: 250px 100px 10px;
}

.listTxt {
    text-align: center;
    list-style-position: inside;
}

.listTxt > ol {
    display: inline-block;
    text-align: left;
}

li {
    margin-top: 25px;
}