.etuIdInformation {
    float: right;
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.status {
    color: #8C8D8D;
    display: inline-block;
}

.group {
    color: #8C8D8D;
    display: inline-block;
    padding: 0px 0px 0px 20px;
}

.informationAboutStudent {
    display: inline-block;
}

.myQueue {
    display: inline-block;
}

.available {
    display: inline-block;
}

.makeQueueBtn {
    background: #F4694D;
    position: fixed;
    top: 90%;
    left: 0%;
    right: 0%;
    border-style: solid;
    border-width: 0px;
    border-color: #F4694D;
    border-radius: 14px;
    padding: 5px 0px 10px 0px;
    color: white;
    font-size: 17px;
    width: 70%;
    margin-left: 15%;
}

.oval {
    width: 130px;
    height: 70px;
    flex-shrink: 0;
    fill: #F4694D;
}
header {
    position: relative;
}
.headerTitle {
    position: absolute;
    text-align: center;
    top: 17px;
    left: 20px;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    color: #000;
}

body {
    font-family: Inter, sans-serif;
}

.etuIdTxt {
    color: #F4694D;
    padding: 0px;
    font-size: 30px;
    text-shadow: gray 1px 2px 3px;
}

.typeQueue {
    text-align: center;
    padding: 10px;
}

.myQueue {
    color: #F4694D;
    padding: 0px 110px 15px 0px;
}

.available {
    color: #F4694D;
}

.sectionName {
    font-size: 10px;
    margin: 0px 0px;
    color: #8C8D8D;
}

.andreiVasilev {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
    text-shadow: gray 1px 2px 3px;
}

.statusAndGroup {
    font-size: 15px;
    color: black;
}

.queueBlock1 {
    width: 100%;
    height: 55px;
    border: 0px solid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -10px black;
}

.nameTeacher {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    margin: 0px 0px;
    color: #8C8D8D;
    padding: 0px 0px 0px 15px;
}
.quantityPeople {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    margin: 0px 0px;
    color: #8C8D8D;
    padding: 0px 15px;
}

.nameQueue {
    padding: 5px 0px 0px 15px;
}

.lineUnderMy{
    margin: 0px 0px 0px -30px;
    position: absolute;

}

.lineUnderMy:before{
    content: " ";
    background: #F4694D ;
    width: 100px;
    height: 2px;
    top: 5px;
    position: absolute;
    border-radius: 10px;
}

.lineUnderAvailable {
    margin: 0px 0px 0px 0px;
    position: absolute;

}

.lineUnderAvailable:before{
    content: " ";
    background: #F4694D;
    width: 100px;
    height: 2px;
    top: 5px;
    position: absolute;
    border-radius: 10px;
}

body {
    font-family: Inter, sans-serif;
}

.exitBtn {
    width: 95px;
    height: 35px;
    background-color: #F4694D;
    border-bottom-left-radius: 20px;
    color: white;
    border-width: 0px;
    padding: 0px 0px 4px 0px;
}